# Archivos generados por Flutter (QA Clean)
.dart_tool/
build/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
node_modules/

# Archivos de configuración de IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Archivos de log y sistema
*.log
.DS_Store

# Archivos sensibles (¡No subir llaves reales!)
*.env
lib/main.dart_backup

# Windows específicos
/build/
/build/**
app.dill
app.dill.track.pb
